{
  "env": {
	"production": {
	  "presets": [
		["@babel/preset-env", {
		  "targets": {
			"browsers": ["last 2 versions", "ie >= 11"]
		  },
		  "useBuiltIns": "entry"
		}],
		"@babel/preset-react"
	  ]
	},
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ],
    },
    "test": {
      "plugins": [
        "dynamic-import-node",
		"istanbul"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
    // ["import", { "libraryName": "antd", "style": "css"}]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
