@import '~stylesheets/colors';

.title {
  padding: 0 2rem;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.navBtnContainer {
  background-color: $color-primary;
}

.root {

  width: 8rem;
  padding: 0 1rem;

  &.selected {
    color: $color-accent;
    border-bottom: 0.3rem solid $color-accent;
  }
}
